@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --c-white: white;
  --c-white-gray: rgb(245, 245, 245);
  --c-primary: rgb(0, 174, 255);
  --c-light-gray: rgb(230, 230, 230);
  --c-mid-gray: rgb(145, 145, 145);
  --c-dark-gray: rgb(94, 94, 94);
  --c-error: red;
  --f-lato: "Lato", sans-serif;
}

body {
  font-size: 62.5%;
  font-family: var(--f-lato);
  background-color: var(--c-light-gray);
}

.textColorRed {
  color: red;
}

.textColorGreen {
  color: green;
}

.marginZeroAuto {
  margin: 0 auto;
}
.width35p {
  width: 35%;
}

.minHeight80vh {
  min-height: 80vh;
}

.minHeight90vh {
  min-height: 90vh;
}

.primaryButton {
  background-color: var(--c-primary);
  color: var(--c-white);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
input:focus {
  outline: none;
}
