@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --c-white: white;
  --c-white-gray: rgb(245, 245, 245);
  --c-primary: rgb(0, 174, 255);
  --c-light-gray: rgb(230, 230, 230);
  --c-mid-gray: rgb(145, 145, 145);
  --c-dark-gray: rgb(94, 94, 94);
  --c-error: red;
}

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  background-color: var(--c-light-gray);
}
