.bioContainer {
  padding: 0.5rem;
  background-color: var(--c-white);
  margin-bottom: 0.5rem;
}
.profileBioTitle {
  text-align: center;
  color: var(--c-dark-gray);
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

div.bioContainer div.bioRowsBlock {
  display: flex;
  justify-content: flex-start;
  color: var(--c-dark-gray);
  font-weight: 600;
  font-size: 1rem;
}

.bioIconsBody {
  font-size: 1.5rem;
  color: var(--c-mid-gray);
}

div.bioContainer div.bioRowsBlock p {
  margin: 0 0 0.5rem 0.5rem;
}

.bioRowsBlockLInks {
  text-decoration: none;
  color: var(--c-primary);
}

.editbioBody {
  background-color: red;
  height: 5rem;
  position: absolute;
}

.editBioRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.3rem;
}

div.editBioRow input {
  width: 80%;
  border: none;
  border-bottom: 0.1rem solid gray;
  font-size: 1rem;
  color: var(--c-mid-gray);
  font-weight: 600;
  opacity: 0.8;
}
div.editBioRow input:focus {
  outline: none;
}

div.editBioRow input::placeholder {
  opacity: 0.5;
}

.bioIconsButton {
  color: red;
  font-size: 1.2rem;
}

div.editBioRow button {
  border: none;
  background: none;
  cursor: pointer;
}

.editEduCon,
.editAddrCon,
.editLinkCon {
  padding-bottom: 1rem;
}

.editBioRowNew {
  padding-top: 0.6rem;
}

.bioSaveExit {
  display: flex;
  justify-content: space-between;
}

div.bioSaveExit button {
  color: var(--c-white);
  background-color: var(--c-primary);
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
