div.navBody {
  background-color: var(--c-primary);
  height: 3.4rem;
}
div.NavContainer {
  width: 96%;
  display: flex;
  justify-content: space-between;
}

div.NavContainer div.links,
div.NavContainer div.navJoin {
  margin-top: 1rem;
}

div.NavContainer div.links .navLink,
.joinLink {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

div.NavContainer div.navLogo img {
  width: 9rem;
  margin-top: 0.3rem;
}
