div.regContainer {
  background: var(--c-white);
  width: 30%;
  padding: 1rem;
  margin: 5rem;
  min-width: 300px;
}

div.regContainer h1 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--c-primary);
}

div.regContainer p.errorShow {
  font-size: 1rem;
  color: var(--c-error);
  font-weight: 700;
  margin-top: 0.5rem;
}

div.regContainer form.regForm input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border: none;
  background: var(--c-light-gray);
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--c-dark-gray);
}

form.regForm input[type="text"],
input[type="email"],
input[type="password"]:focus {
  outline: none;
}

div.regContainer form div.genderContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

form.regForm label {
  font-size: 1rem;
  margin: 0 1rem 0 0.5rem;
}

div.regContainer form button {
  width: 100%;
  border: none;
  background: var(--c-primary);
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--c-white);
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

div.regContainer div.alreadyAccount {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

div.regContainer div.alreadyAccount p {
  display: inline-block;
}
div.regContainer div.alreadyAccount a {
  text-decoration: none;
  color: var(--c-primary);
  font-weight: 700;
}
