div.regContainer {
  display: block;
  background: var(--c-white);
  width: 30%;
  padding: 1rem;
  min-width: 25rem;
  margin: 1rem auto;
}

div.regContainer h1 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--c-primary);
}

div.regContainer p.errorShow {
  font-size: 1rem;
  color: var(--c-error);
  font-weight: 700;
  margin-top: 0.5rem;
}

div.regContainer form.regForm input[type="text"],
input[type="email"],
input[type="password"],
div.verifyBLock input,
div.resetPassBody input {
  width: 100%;
  border: none;
  background: var(--c-light-gray);
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--c-dark-gray);
}

form.regForm input[type="text"],
input[type="email"],
input[type="password"]:focus {
  outline: none;
}

div.regContainer form div.genderContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

form.regForm label {
  font-size: 1rem;
  margin: 0 1rem 0 0.5rem;
}

div.regContainer form button,
div.resetPassCodeBlock button,
div.resetPassBody button {
  width: 100%;
  border: none;
  background: var(--c-primary);
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--c-white);
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

div.regContainer div.alreadyAccount {
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

div.regContainer div.alreadyAccount p {
  display: inline-block;
}
div.regContainer div.alreadyAccount a {
  text-decoration: none;
  color: var(--c-primary);
  font-weight: 700;
}

div.getVerifyCodebody {
  width: 100%;
  height: 100vh;
  top: 3.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
}

div.getVerifyCodebody div.verifyBLock {
  background-color: var(--c-white);
  width: 26rem;
  margin: 20vh auto;
  padding: 0.5rem;
  text-align: center;
}

div.verifyBLock p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--c-dark-gray);
}

div.verifyBLock div.veryBtns {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

div.veryBtns button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--c-white);
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
div.veryBtns button:nth-child(1) {
  background-color: var(--c-primary);
  color: var(--c-white);
}
div.veryBtns button:nth-child(2) {
  background-color: red;
}
